<h1 class="text-center text-uppercase mb-4"><%= I18n.t(:app_name) %></h1>

<hr>

<nav class="nav flex-column">
  <%= link_to "Work Files", work_files_path, class: "nav-link border-start border-primary border-5" %>
  <%= link_to "Work Types", work_types_path, class: "nav-link border-start border-primary border-5" %>
</nav>
