<dl class="text-gray-600 bg-orange-50 rounded divide-y divide-gray-300 shadow">
  <% policy(@resource).permitted_attributes.each do |attribute| %>
    <div class="p-5 sm:grid sm:grid-cols-3 sm:gap-4">
      <dt class="text-sm font-medium text-gray-500"><%= @resource.class.human_attribute_name(attribute) %></dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @resource[attribute] %></dd>
    </div>
  <% end %>
</dl>
