!/app/assets/builds/.keep
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

.byebug_history
.yarn-integrity

/.bundle
/app/assets/builds
/config/master.key
/log/*
/node_modules
/public/assets
/storage/*
/tmp/*
/tmp/pids/*
/yarn-error.log

yarn-debug.log*
