<% content_for :title, I18n.t("views.headings.index", model: WordCountFile.model_name.human(count: 20)) %>

<% content_for(:actions) do %>
  <%= link_to I18n.t("views.actions.new"), new_word_count_word_count_file_path(@word_count), class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
<% end %>

<% if @word_count_files.load.any? %>
  <%= render "table", word_count_files: @word_count_files %>
<% else %>
  <div class="py-32 px-4 text-lg font-medium text-center text-orange-100 bg-gray-700">
    <%= I18n.t("views.messages.no_records") %>
  </div>
<% end %>
