<% content_for :title, I18n.t("views.titles.index", model: WordCountFile.model_name.human(count: 20)) %>

<main class="space-y-8">
  <header>
    <h1 class="text-2xl font-bold">
      <%= yield :title %>
    </h1>
  </header>

  <% if @word_count_files.load.any? %>
    <%= render "table", word_count_files: @word_count_files %>
  <% else %>
    <div class="py-32 px-4 text-lg font-medium text-center text-orange-100 bg-gray-700">
      <%= I18n.t("views.messages.no_records") %>
    </div>
  <% end %>

  <div class="overflow-x-auto flex gap-2">
    <%= link_to I18n.t("views.actions.new"), new_word_count_word_count_file_path(@word_count), class: "block py-2 px-4 text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
  </div>
</main>
