<% if flash.alert %>
  <div class="p-5 text-red-900 bg-red-300">
    <%= flash.alert %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="p-5 text-green-900 bg-green-300">
    <%= flash.notice %>
  </div>
<% end %>
