<%= form_with(model: local_assigns[:model], scope: local_assigns[:scope], url: local_assigns[:url], format: local_assigns[:format], options: local_assigns[:options]) do |form| %>
  <div class="space-y-4 sm:p-8 sm:text-gray-600 sm:bg-orange-50 sm:rounded sm:shadow">
    <%= yield form %>
  </div>
<% end %>
