<% if flash.alert %>
  <div class="px-8 py-4 font-medium text-red-50 bg-red-900">
    <%= flash.alert %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="px-8 py-4 font-medium text-green-50 bg-green-900">
    <%= flash.notice %>
  </div>
<% end %>
