<% if flash.alert %>
  <div class="px-8 py-4 font-medium text-red-100 bg-red-700">
    <%= flash.alert %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="px-8 py-4 font-medium text-green-100 bg-green-700">
    <%= flash.notice %>
  </div>
<% end %>
