<% if flash.alert %>
  <div class="px-8 py-4 font-medium text-red-900 bg-red-100">
    <%= flash.alert %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="px-8 py-4 font-medium text-green-900 bg-green-100">
    <%= flash.notice %>
  </div>
<% end %>
