<header class="flex flex-column justify-between items-center px-8 py-4 space-x-4 text-orange-100 bg-gray-700">
  <span class="overflow-hidden text-xl font-medium tracking-wide">
    <%= I18n.t(:app_name) %>
  </span>

  <%= button_to I18n.t("views.actions.sessions.log_out"), logout_path, method: :delete, form_class: "overflow-hidden", class: "p-2 text-sm font-medium tracking-widest uppercase bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
</header>
