<header class="flex flex-column justify-between items-center px-8 py-4 space-x-4 text-indigo-50 bg-indigo-900">
  <span class="overflow-hidden text-xl font-medium tracking-wide">
    <%= I18n.t(:app_name) %>
  </span>

  <%= button_to I18n.t("views.actions.sessions.log_out"), logout_path, method: :delete, form_class: "overflow-hidden", class: "p-2 text-sm font-medium tracking-wider uppercase bg-transparent hover:bg-black hover:bg-opacity-10" %>
</header>
