<header class="flex justify-between items-start">
  <h2 class="text-2xl font-bold"><%= page.heading %></h2>

  <% unless page.actions.empty? %>
    <div class="flex text-sm font-medium text-orange-100 bg-gray-600 rounded">
      <% page.actions.each do |action| %>
        <%= link_to action[:body], action[:url], action[:html_options].merge!(class: "py-2 px-4 hover:bg-gray-700 rounded") %>
      <% end %>
    </div>
  <% end %>
</header>
