<% page_title t(:app_name) %>
<% page_description "#{t :app_name} is a web application that is trying to make life easier for translators." %>

<%= render "shared/flash" %>

<main class="flex flex-col justify-center items-center min-h-screen text-7xl font-thin tracking-widest uppercase">
  <h1><%= t(:app_name) %></h1>
</main>
