<% page_title "Upupa" %>
<% page_description "Upupa is a web application that is trying to make life easier for translators." %>

<div class="flex items-center justify-center h-screen bg-orange-100">
  <h1 class="text-6xl">
    <span class="text-gray-600">U</span>
    <span class="text-gray-400">P</span>
    <span class="text-orange-300">U</span>
    <span class="text-gray-400">P</span>
    <span class="text-gray-600">A</span>
  </h1>
</div>
