<% page_title "Upupa" %>
<% page_description "Upupa is a web application that is trying to make life easier for translators." %>

<div class="d-flex justify-content-center align-items-center vh-100 bg-dark text-warning">
  <h1 class="display-4">
    <span>U</span>
    <span>P</span>
    <span>U</span>
    <span>P</span>
    <span>A</span>
  </h1>
</div>
