<section class="space-y-8">
  <header class="flex justify-between items-start space-x-4">
    <h2 class="text-xl font-bold">
      <%= I18n.t("page.headings.index", model: WordCountFile.model_name.human(count: 20)) %>
    </h2>

    <div class="flex bg-gray-700 rounded">
      <%= link_to I18n.t("page.actions.new"), new_word_count_word_count_file_path(word_count), class: "block py-2 px-4 text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 rounded shadow appearance-none cursor-pointer hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
    </div>
  </header>

  <% if word_count.word_count_files.load.any? %>
    <%= render "word_count_files/table", word_count_files: word_count.word_count_files %>
  <% end %>
</section>
