<% content_for :title, I18n.t("views.titles.new", model: WorkType.model_name.human) %>

<main class="space-y-8">
  <header>
    <h1 class="text-2xl font-bold">
      <%= yield :title %>
    </h1>
  </header>

  <%= render "form", work_type: @work_type %>
</main>
