<% if resource.errors.any? %>
  <div class="p-8 bg-red-900 rounded">
    <h4 class="mb-2 font-medium text-red-300">
      <%= pluralize(resource.errors.count, "error") %> prohibited this record from being saved:
    </h4>

    <ul class="pl-4 list-disc list-inside text-red-200">
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
