<div class="lg:grid lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
  <div class="hidden overflow-y-auto fixed z-40 w-4/5 h-screen text-orange-100 bg-gray-700 sm:w-2/5 md:w-1/3 lg:block lg:sticky lg:top-0 lg:z-auto lg:w-full">
    <%= render "application/layout/navigation" %>
  </div>

  <main class="lg:col-span-3 xl:col-span-4 2xl:col-span-5">
    <%= render "application/layout/flash" if flash.any? %>

    <div class="p-8 space-y-8">
      <%= render "application/layout/header" if content_for?(:heading) %>
      <%= yield %>
    </div>
  </main>
</div>
