<% content_for :body do %>
  <% if flash.any? %>
    <div class="container">
      <%= render "shared/flash" %>
    </div>
  <% end %>

  <div class="container py-4">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/base" %>
