<% content_for :body do %>
  <% if alert || notice %>
    <div class="container">
      <%= render "shared/alert" %>
      <%= render "shared/notice" %>
    </div>
  <% end %>

  <div class="container py-4">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/base" %>
