<% content_for :body do %>
  <main class="container">
    <%= render "shared/flash" %>

    <div class="py-4">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: "layouts/base" %>
