<div class="overflow-x-auto rounded shadow">
  <table class="w-full">
    <thead class="text-sm font-medium tracking-wider text-left uppercase text-orange-100 bg-gray-600">
      <tr>
        <% th_contents.each do |content| %>
          <th scope="col" class="p-3"><%= content %></th>
        <% end %>

        <th scope="col" class="p-3"></th>
      </tr>
    </thead>

    <tbody class="text-gray-600 align-top bg-orange-50 divide-y divide-gray-300">
      <%= yield %>
    </tbody>
  </table>
</div>
